#Tuples in python

 tuples:

 A tuple in Python is an ordered, immutable collection of elements. Like lists, tuples can hold different types of data, such as integers, strings, and even other tuples. However, unlike lists, once a tuple is created, its elements cannot be changed, added, or removed. Tuples are often used to represent related pieces of information that should remain constant throughout the program's execution

In [ ]:
#len(): Returns the number of elements in the tuple.
my_tuple = (1, 2, 3, 4, 5)
length = len(my_tuple)
length

5

In [ ]:
#count(): Returns the number of occurrences of a specified element in the tuple.
my_tuple = (1, 2, 2, 3, 2)
count = my_tuple.count(2)
count

3

In [ ]:
#index(): Returns the index of the first occurrence of a specified element in the tuple.
my_tuple = ("apple", "banana", "orange")
index = my_tuple.index("banana")
index

1

In [ ]:
#+ operator: Concatenates two tuples to create a new tuple.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
new_tuple = tuple1 + tuple2
new_tuple

(1, 2, 3, 4, 5, 6)

In [ ]:
#* operator: Creates a new tuple by repeating the elements of the original tuple.
original_tuple = (1, 2)
repeated_tuple = original_tuple * 3
repeated_tuple

(1, 2, 1, 2, 1, 2)

In [ ]:
#sorted(): Returns a new sorted list containing elements of the tuple in ascending order.
my_tuple = (5, 2, 8, 1)
sorted_list = sorted(my_tuple)
sorted_list

[1, 2, 5, 8]

In [ ]:
#max() and min(): Returns the maximum and minimum values in the tuple.
numbers = (5, 2, 8, 1)
max_value = max(numbers)  # Output: 8
min_value = min(numbers)
print("Max_value:",max_value)
print("Min_value:",min_value)

Max_value: 8
Min_value: 1

In [ ]:
#reversed(): Returns an iterator that produces elements of the tuple in reversed order.
original_tuple = (3, 2, 1)
reversed_iterator = reversed(original_tuple)
reversed_tuple = tuple(reversed_iterator)

In [ ]:
reversed_iterator

In [ ]:
reversed_tuple

(1, 2, 3)

In [ ]:
#in keyword: Checks if an element is present in the tuple.
my_tuple = ("apple", "banana", "orange")
is_banana_present = "banana" in my_tuple

In [ ]:
is_banana_present

True

In [ ]:
#not in keyword: Checks if an element is not present in the tuple.
numbers = (1, 2, 3, 4, 5)
is_6_absent = 6 not in numbers
is_6_absent

True

In [ ]:
#tuple() constructor: Converts an iterable (like a list or string) into a tuple.
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
my_tuple

(1, 2, 3)

In [ ]:
#slice: Works similarly to list slicing, allowing you to extract a portion of a tuple.
my_tuple = (0, 1, 2, 3, 4, 5)
subset = my_tuple[2:5]
subset

(2, 3, 4)

In [ ]:
#Python Tuple
# method of unpacking
t2=(23,22,25)
a,b,c=t2
print(a)
print(b)
print(c)

In [ ]:
# enumerate(iterable,start index(optional))
l1=["a","b","c"]

l2=enumerate(l1,1)
print(tuple(l2))

((1, 'a'), (2, 'b'), (3, 'c'))

For Practice:
1.	Create a tuple named colors containing three color names: "red", "green", and "blue".
2.	Access and print the second element of the colors tuple.
3.	Combine two tuples, tuple1 and tuple2, to create a new tuple.
4.	Check if the value 5 is present in the tuple (1, 3, 5, 7, 9).
5.	Create a tuple named coordinates containing the latitude and longitude of a location.
6.	Use tuple unpacking to assign the elements of the coordinates tuple to separate variables.
7.	Write a program that swaps the values of two variables using tuples.
8.	Convert a list my_list into a tuple.
9.	Find the index of the element "apple" in the tuple fruits = ("banana", "apple", "orange").
10.	Create a tuple of integers from 1 to 5 and multiply each element by 2 to create a new tuple

Tuple Length, Count, Index:
1.	Given a tuple (5, 3, 7, 5, 8, 5), how can you find its length?
2.	Write a program to count the number of occurrences of the element 5 in a tuple.
3.	How can you find the index of the first occurrence of the element 7 in a tuple?

Tuple Concatenation:
1.	How would you concatenate two tuples (1, 2, 3) and (4, 5, 6)?
2.	Given two tuples (10, 20) and (30, 40), how can you create a new tuple (10, 20, 30, 40)?

Tuple Sorting, Maximum, Minimum:
1.	Write a program to sort a tuple of integers in ascending order.
2.	How do you find the maximum value in a tuple of numbers?
3.	Given a tuple (4, 2, 7, 1, 9), how can you determine the minimum value?

Tuple Reversing, Membership:
1.	How can you reverse the elements of a tuple (10, 20, 30)?
2.	Write a program to check if an element exists in a given tuple.
3.	Given a tuple (5, 8, 12, 20), how can you check if the element 12 is present?

Tuple Slicing, Built-in Methods:
1.	Given a tuple (1, 2, 3, 4, 5), how can you extract a subtuple (2, 3, 4) using slicing?
2.	How would you convert a list [1, 2, 3] into a tuple?
3.	Write a program to find the index of the last occurrence of the element 6 in a tuple.

Tuple Unpacking, Enumerate:
1.	How can you unpack the elements of a tuple (5, 10, 15) into separate variables?
2.	Write a loop using enumerate to print the index and value of each element in a tuple.

## **For More Practice:**



Tuples:
21.	Access an element at a specific index in a tuple.
22.	Concatenate two tuples.
23.	Count the occurrences of a specific element in a tuple.
24.	Find the index of an element in a tuple.
25.	Convert a tuple to a list.
26.	Check if an element exists in a tuple.
27.	Get the maximum and minimum elements in a tuple.
28.	Create a new tuple by repeating the elements of an existing tuple.
29.	Find the length of a tuple.
30.	Convert a tuple to a string.