#List in python

lists:

in Python, a list is a collection of ordered items, which can be of any data type such as integers, strings, floats, or even other lists. Lists are one of the most versatile and commonly used data structures in Python

In [ ]:
#append(): Adds an item to the end of the list.
fruits = ["apple", "banana"]
fruits.append("orange")
fruits

['apple', 'banana', 'orange']

In [ ]:
#insert(): Inserts an item at a specific index in the list.
numbers = [1, 2, 3]
numbers.insert(1, 5)
numbers

[1, 5, 2, 3]

In [ ]:
#remove(): Removes the first occurrence of a specified item from the list.
animals = ["dog", "cat", "dog", "elephant"]
animals.remove("dog")
animals

['cat', 'dog', 'elephant']

In [ ]:
#pop(): Removes and returns the item at a specified index. If no index is provided, it removes the last item.
colors = ["red", "green", "blue"]
removed_color = colors.pop(1)
removed_color

'green'

In [ ]:
colors

['red', 'blue']

In [ ]:
#index(): Returns the index of the first occurrence of a specified item.
fruits = ["apple", "banana", "orange"]
index = fruits.index("banana")
index

1

In [ ]:
#count(): Returns the number of occurrences of a specified item in the list.
numbers = [1, 2, 2, 3, 2]
count = numbers.count(2)
count

3

In [ ]:
#sort(): Sorts the list in ascending order. You can provide optional arguments for custom sorting.
numbers = [5, 2, 8, 1]
numbers.sort()
numbers

[1, 2, 5, 8]

In [ ]:
#reverse(): Reverses the order of items in the list.
letters = ['a', 'b', 'c']
letters.reverse()
letters

['c', 'b', 'a']

In [ ]:
#extend(): Adds all items of another iterable (e.g., another list) to the end of the list.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

In [ ]:
#copy(): Creates a shallow copy of the list.
original = [1, 2, 3]
new_copy = original.copy()

In [ ]:
#clear(): Removes all items from the list, making it empty.
items = [1, 2, 3]
items.clear()
items

[]

In [ ]:
#len(): Returns the number of items in the list (length).
colors = ["red", "green", "blue"]
length = len(colors)
length

3

List slicing is a technique in Python that allows you to extract a portion (sublist) of a list. It's done by specifying a range of indices using the colon (:) operator.
The syntax for list slicing is :

list[start:stop:step]

 where:

start: The index where the slicing starts (inclusive).

stop: The index where the slicing stops (exclusive).

step: The step size between elements (optional).

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Extract a sublist from index 2 to index 5 (5 is excluded)
sublist1 = numbers[2:5]
sublist1

[2, 3, 4]

In [ ]:
# Extract elements from index 1 to the end of the list
sublist2 = numbers[1:]
sublist2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Extract elements from the beginning to index 6 (6 is excluded)
sublist3 = numbers[:6]
sublist3

[0, 1, 2, 3, 4, 5]

In [ ]:
# Extract every second element from index 1 to index 8
sublist4 = numbers[1:8:2]
sublist4

[1, 3, 5, 7]

In [ ]:
# Extract elements in reverse order
reversed_list = numbers[::-1]
reversed_list

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

For Practice :

1.	Create a list named fruits containing three fruit names: "apple", "banana", and "orange".
2.	Access and print the second element of the fruits list.
3.	Add the fruit "grape" to the end of the fruits list.
4.	Replace the second element of the fruits list with "kiwi".
5.	Remove the last element from the fruits list.
6.	Create a new list named numbers with integers from 1 to 5.
7.	Use list slicing to extract the second and third elements from the numbers list.
8.	Add the elements [6, 7] to the numbers list.
9.	Check if the value 3 is present in the numbers list.
10.	Create a new list doubled_numbers that contains each number from the numbers list multiplied by 2.
11.	Sort the numbers list in ascending order.
12.	Reverse the order of elements in the fruits list.

1.	How do you add an element to the end of a list using the built-in method?
2.	Given a list [1, 2, 3], how can you add the element 4 to the end of it?
3.	Write a program to insert the value 10 at the second position in a list.
4.	How can you remove the first occurrence of the value 5 from a list?
5.	Write a program to remove the last element from a list.
6.	Given a list [10, 20, 30, 20, 40], how can you count the occurrences of the value 20?
7.	How do you find the index of the first occurrence of the value 15 in a list?
8.	Write a program to sort a list of numbers in ascending order.
9.	How can you reverse the elements of a list using the built-in method?
10.	Given two lists [1, 2] and [3, 4], how can you concatenate them?
11.	Write a program to remove all occurrences of the value 7 from a list.
12.	How do you find the maximum value in a list of numbers?
13.	Given a list [5, 8, 12, 20], how can you determine the minimum value?
14.	Write a program to create a shallow copy of a given list.
15.	How can you find the index of the last occurrence of the value 25 in a list?
16.	Given a list [1, 2, 3, 4, 5], how can you extract a sublist [2, 3, 4] using slicing?
17.	Write a program to count the number of elements in a list.
18.	How do you check if a value exists in a list?
19.	Given a list [4, 3, 6, 2, 1], how can you sort it in descending order?
20.	Write a program to remove all elements from a list.

## **For More Practice:**



Lists:
11.	Find the length of a list.
12.	Append an element to a list.
13.	Remove the last element from a list.
14.	Count the occurrences of a specific element in a list.
15.	Sort a list in ascending order.
16.	Reverse the elements of a list.
17.	Extract a sublist from a list using slicing.
18.	Find the index of the first occurrence of an element in a list.
19.	Extend one list with the elements of another list.
20.	Remove all occurrences of a specific element from a list.